

p {
  font-family: 'VT323', monospace;
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  color: mistyrose;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'VT323', monospace;
}

img {
  align-items: center;
  align-content: center;
  text-align: center;
}


/*IDs*/
#datatitle {
  margin-top: 80px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
}

#byline {
  width: 100%
  text-align: right;
  right: 30px;
  bottom: 10px;
  position: fixed;
  background-color: (255,255,255,0.8);
}

#byline p {
  color: black;
  font-size:15px;
}

#byline a {
  color: pink;
  text-decoration: none;
}

#byline a:hover {
  color: mistyrose;
  text-decoration: none;
}

@media only screen and (max-width: 800px){
  #byline{
    text-align: center;
    bottom: 10px;
    position: relative;
  }
}





/*FONTS
*font-family: 'Kumar One Outline', cursive;
*font-family: 'Concert One', cursive;
*font-family: 'VT323', monospace;
*font-family: 'Press Start 2P', cursive;
*/
